.NavBar {
  grid-area: nav;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $blackBackground;

  &_Logo {
    display: flex;
    flex-direction: row;
  }

  &_Home {
    width: 4rem;
    height: auto;
    display: flex;
    flex-direction: row;
    color: $white;
    background-color: $green;
  }

  &_Title {
    display: none;
  }

  &_Hamburger-Menu {
    font-size: 1.8rem;
    margin: auto 1rem auto 0;
    color: $white;
    cursor: pointer;
  }

  &_List-Menu {
    display: none;
  }
}

.NavBar li {
  float: left;
  color: $white;
  text-align: center;
  padding: 1rem 1.2rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.NavBar li:hover {
  color: $black;
  background-color: $gray;
}

.NavBar img {
  width: 2rem;
  height: auto;
  margin: auto;
}
