.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Card {
  display: inline-block;
  width: 18rem;
  height: 15rem;
  margin: 2rem 0;
  background-color: $white;
}