@charset "UTF-8";
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: Arial, Helvetica, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

.App {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: 'nav nav' 'main main';
  grid-template-rows: 8% 92%;
  grid-template-columns: 1fr 1fr;
  background-color: #282c34; }

.Content {
  grid-area: main; }

.NavLess-Content {
  grid-row: 1 / -1;
  grid-column: 1 / -1; }

.App-link {
  color: #61dafb; }

.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.Card {
  display: inline-block;
  width: 18rem;
  height: 15rem;
  margin: 2rem 0;
  background-color: #f2f2f2; }

.pokedex {
  width: 100%;
  height: 100%;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 1fr); }
  .pokedex .header {
    grid-column: 1 / -1;
    grid-row: span 2;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem; }
    .pokedex .header .status-lights {
      display: flex;
      flex-direction: row;
      margin: auto 0; }
    .pokedex .header .blinker {
      border: 2px solid white;
      border-radius: 50%;
      background-color: lightskyblue;
      width: 50px;
      height: 50px;
      margin: 0rem 1rem 0rem 0rem;
      -webkit-animation: blinkBlue 1.5s infinite;
      -moz-animation: blinkBlue 1.5s infinite;
      -ms-animation: blinkBlue 1.5s infinite;
      -o-animation: blinkBlue 1.5s infinite;
      animation: blinkBlue 1.5s infinite; }

@-webkit-keyframes blinkBlue {
  from {
    background-color: #5fb1e4; }
  50% {
    background-color: #24e0ff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3f8cff 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #5ab7f5; } }

@-moz-keyframes blinkBlue {
  from {
    background-color: #5ab7f5; }
  50% {
    background-color: #24e0ff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3f8cff 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #5ab7f5; } }

@-ms-keyframes blinkBlue {
  .pokedex .header from {
    background-color: #5ab7f5; }
  .pokedex .header 50% {
    background-color: #24e0ff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3f8cff 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  .pokedex .header to {
    background-color: #5ab7f5; } }

@-o-keyframes blinkBlue {
  from {
    background-color: #5ab7f5; }
  50% {
    background-color: #24e0ff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3f8cff 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #5ab7f5; } }

@keyframes blinkBlue {
  from {
    background-color: #5ab7f5; }
  50% {
    background-color: #24e0ff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #3f8cff 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #5ab7f5; } }
    .pokedex .header .red-light {
      border: 1px solid black;
      border-radius: 50%;
      background-color: red;
      width: 10px;
      height: 10px;
      margin: 0rem 0.5rem 0rem 0rem;
      -webkit-animation: blinkRed 1.5s infinite;
      -moz-animation: blinkRed 1.5s infinite;
      -ms-animation: blinkRed 1.5s infinite;
      -o-animation: blinkRed 1.5s infinite;
      animation: blinkRed 1.5s infinite; }

@-webkit-keyframes blinkRed {
  from {
    background-color: #f00; }
  50% {
    background-color: #a00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0; }
  to {
    background-color: #f00; } }

@-moz-keyframes blinkRed {
  from {
    background-color: #f00; }
  50% {
    background-color: #a00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0; }
  to {
    background-color: #f00; } }

@-ms-keyframes blinkRed {
  .pokedex .header from {
    background-color: #f00; }
  .pokedex .header 50% {
    background-color: #a00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0; }
  .pokedex .header to {
    background-color: #f00; } }

@-o-keyframes blinkRed {
  from {
    background-color: #f00; }
  50% {
    background-color: #a00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0; }
  to {
    background-color: #f00; } }

@keyframes blinkRed {
  from {
    background-color: #f00; }
  50% {
    background-color: #a00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0; }
  to {
    background-color: #f00; } }
    .pokedex .header .yellow-light {
      border: 1px solid black;
      border-radius: 50%;
      background-color: yellow;
      width: 10px;
      height: 10px;
      margin: 0rem 0.5rem 0rem 0rem;
      -webkit-animation: blinkYellow 1.5s infinite;
      -moz-animation: blinkYellow 1.5s infinite;
      -ms-animation: blinkYellow 1.5s infinite;
      -o-animation: blinkYellow 1.5s infinite;
      animation: blinkYellow 1.5s infinite; }

@-webkit-keyframes blinkYellow {
  from {
    background-color: #ff0; }
  50% {
    background-color: #aa0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #ff0; } }

@-moz-keyframes blinkYellow {
  from {
    background-color: #ff0; }
  50% {
    background-color: #aa0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #ff0; } }

@-ms-keyframes blinkYellow {
  .pokedex .header from {
    background-color: #ff0; }
  .pokedex .header 50% {
    background-color: #aa0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  .pokedex .header to {
    background-color: #ff0; } }

@-o-keyframes blinkYellow {
  from {
    background-color: #ff0; }
  50% {
    background-color: #aa0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #ff0; } }

@keyframes blinkYellow {
  from {
    background-color: #ff0; }
  50% {
    background-color: #aa0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #ff0; } }
    .pokedex .header .green-light {
      border: 1px solid black;
      border-radius: 50%;
      background-color: green;
      width: 10px;
      height: 10px;
      -webkit-animation: blinkGreen 1.5s infinite;
      -moz-animation: blinkGreen 1.5s infinite;
      -ms-animation: blinkGreen 1.5s infinite;
      -o-animation: blinkGreen 1.5s infinite;
      animation: blinkGreen 1.5s infinite; }

@-webkit-keyframes blinkGreen {
  from {
    background-color: #304701; }
  50% {
    background-color: #abff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #89ff00 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #304701; } }

@-moz-keyframes blinkGreen {
  from {
    background-color: #304701; }
  50% {
    background-color: #abff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #89ff00 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #304701; } }

@-ms-keyframes blinkGreen {
  .pokedex .header from {
    background-color: #304701; }
  .pokedex .header 50% {
    background-color: #abff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #89ff00 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  .pokedex .header to {
    background-color: #304701; } }

@-o-keyframes blinkGreen {
  from {
    background-color: #304701; }
  50% {
    background-color: #abff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #89ff00 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #304701; } }

@keyframes blinkGreen {
  from {
    background-color: #304701; }
  50% {
    background-color: #abff00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #89ff00 0 -1px 9px, rgba(0, 0, 0, 0.2) 0 2px 0; }
  to {
    background-color: #304701; } }
    .pokedex .header .hamburger-menu {
      font-size: 1.8rem;
      margin: auto 0.5rem auto 0;
      color: black;
      cursor: pointer; }
  .pokedex .control {
    grid-column: 1 / -1;
    grid-row: span 3;
    border-top: 1px solid black; }

/* Poké Styles */
.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: fall 0.25s ease-in-out, shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite; }

.pokeball:before,
.pokeball:after {
  content: '';
  position: absolute;
  right: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.pokeball:before {
  background: red;
  width: 100%;
  height: 50%; }

.pokeball:after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000; }

.pokeball_button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink 0.5s alternate infinite;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* Animation */
@keyframes blink {
  from {
    background: #eee; }
  to {
    background: #e74c3c; } }

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0); }
  20% {
    transform: translate(-10px, 0) rotate(-20deg); }
  30% {
    transform: translate(10px, 0) rotate(20deg); }
  50% {
    transform: translate(-10px, 0) rotate(-10deg); }
  60% {
    transform: translate(10px, 0) rotate(10deg); }
  100% {
    transform: translate(0, 0) rotate(0); } }

@keyframes fall {
  0% {
    top: -200px; }
  60% {
    top: 0; }
  80% {
    top: -20px; }
  100% {
    top: 0; } }

.BackDrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100; }

.NavBar {
  grid-area: nav;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #333; }
  .NavBar_Logo {
    display: flex;
    flex-direction: row; }
  .NavBar_Home {
    width: 4rem;
    height: auto;
    display: flex;
    flex-direction: row;
    color: #f2f2f2;
    background-color: #4caf50; }
  .NavBar_Title {
    display: none; }
  .NavBar_Hamburger-Menu {
    font-size: 1.8rem;
    margin: auto 1rem auto 0;
    color: #f2f2f2;
    cursor: pointer; }
  .NavBar_List-Menu {
    display: none; }

.NavBar li {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1.2rem;
  text-decoration: none;
  font-size: 1.2rem; }

.NavBar li:hover {
  color: black;
  background-color: #ddd; }

.NavBar img {
  width: 2rem;
  height: auto;
  margin: auto; }

.SideDrawer {
  height: 100%;
  background: #333;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200; }
  .SideDrawer_Close {
    display: flex;
    justify-content: flex-end;
    font-size: 2.6rem;
    padding: 0.8rem 1rem 0 80%;
    color: #4caf50; }
  .SideDrawer_Links {
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .SideDrawer a {
    font-size: 1.6rem;
    margin: 1rem 0;
    color: #f2f2f2; }
  .SideDrawer a:hover {
    color: #61dafb; }

.screen {
  grid-column: 1 / -1;
  grid-row: span 12;
  background-color: #f2f2f2;
  border: 1px solid black;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .screen_image {
    width: 100px;
    height: 100px; }

/* Poké Styles */
.loader {
  position: relative;
  width: 100px;
  height: 100px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  z-index: 110; }

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  right: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.loader:before {
  background: red;
  width: 100%;
  height: 50%; }

.loader:after {
  top: calc(50% - 10px);
  width: 100%;
  height: 10px;
  background: #000; }

.loader_button {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: #7f8c8d;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 110;
  box-shadow: 0 0 0 5px black;
  animation: blink 0.5s alternate infinite;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* Animation */
@keyframes blink {
  from {
    background: #eee; }
  to {
    background: #e74c3c; } }

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0); }
  20% {
    transform: translate(-10px, 0) rotate(-20deg); }
  30% {
    transform: translate(10px, 0) rotate(20deg); }
  50% {
    transform: translate(-10px, 0) rotate(-10deg); }
  60% {
    transform: translate(10px, 0) rotate(10deg); }
  100% {
    transform: translate(0, 0) rotate(0); } }

.loader-backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
